.tablecustomer {
    width: 80% !important;
    margin: auto;
    margin-top: 60px;
}

.headertable {
    background: #ce5050f0;
    text-align: center;
    color: white;
}

.buttoncustomer {
    margin: auto !important;
    display: flex !important;
}