.tablecustomer {
    width: 80% !important;
    margin: auto;
    margin-top: 60px;
}

.headertable {
    background: #ce5050f0;
    text-align: center;
    color: white;
}

.buttoncustomer {
    margin: auto !important;
    display: flex !important;
}

.titlesearch {
    padding: 10px !important;
    display: flex !important;
    justify-content: space-around !important;
}

.inputsearch {
    width: 80% !important;
    margin: auto !important;
    margin-bottom: 10px !important;
}